

body{
    font-family: Arial, sans-serif;
    background-color: black;
}



form{

    margin: 100px;
 padding: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 200px;
    animation-name: click;
    animation-duration: 2s;
    animation-iteration-count :infinite;
    display: grid;
 grid-template-rows: auto;
  background-color: dodgerblue;
  padding: 10px;
  padding-left:400px ;
  

}
    
    


h1{
    display: grid;
    padding: 20px;
    font-size: 30px;
}
label{
    display: grid;
    padding: 15px;
    font-size: 15px;
}
input{
    padding: 15px;
    border-radius: 10px;
width: 30%;
border-color: aqua;
    margin-top: 2px;
    display: grid;
   
}
input:hover{
    background-color: rgb(68, 252, 252);
    color: white;
}


button{
    margin: 20px;
    padding: 8px;
    width: 10%;
    border-radius:10px ;
    border-color: aqua;
    background-color: aqua;
    color: white;
    
    max-width: 100%;
}

button:hover{
   background-color: white;
    color: black;
}

@keyframes click{
    from{
        background-color: rgb(16, 1, 16);
    }
    to{
        background-color: aqua;
    }
}
